body {background: black; font-size: 17px; font-family: 'Handlee', cursive; padding: 50px;
}
input {font-size: 20px}

.maincontent {
	background: white; 
	width: 500px; 
	height: 350px;
	margin: auto;
	position: absolute; top:50% ; left:50%;
	transform: translate(-50%,-50%);
	padding: 10px;
	background: white;
	overflow:hidden}

.topp h1 {overflow: hidden; background: white; margin: 10px; padding: 17px;}

.left-side p {overflow: hidden; font-weight: bold; 
padding-left: 5px; margin: 5px;}

.left-side{width: 50%; float: left;}

.right-side {width: 50%; float: right;}

.right-side input{display: block; border:none; border-bottom: 1px solid gray; font-family: 'Handlee', cursive; width: 200px; margin-bottom: 10px;}

.body {overflow: hidden; padding: 20px;}

.imagen img {max-width: 75px; float: right; }
 

 .bott {
	 
	padding: 10px ; border-radius: 4px;
	text-align: center; float: bottom; overflow: hidden;
	}

.bott input[type=submit] {border: none ;border-bottom: 1px; color: solid rgb(184, 184, 184); width: 250px; font-family: 'Handlee', cursive;}